@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


body{
    background-color: whitesmoke;
}
.container {
    height: auto;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid black;
    font-family: sans-serif;
}


.navbar {
    background-image: url(/images/backgroundimg.jfif);
    height: 120px;
    width: 100%;
    background-color: rgb(221, 217, 217);
    display: flex;
    align-items: center;
    border: 1px solid rgb(24, 23, 23);
    position: absolute;
    top: 0;
    animation: fadeInDown 1s ease-in-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



.nav {
    margin-left: 200px;
    margin-right: 20px;
}

.nav ul {
    list-style: none;
    display: flex;
    column-gap: 50px;
}

.nav ul li {
    position: relative;

}




.nav ul li a {
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-size: 22px;
    transition: color 0.3s ease-in-out;
}

.nav ul li a:hover {
    color: orangered;
}

.nav ul li a .fa-solid {
    margin-left: 4px;
    transition: transform 0.5s ease;
  
}

.nav ul li:hover > a .fa-solid {
    transform: rotate(180deg);
   

}

.nav ul li .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    text-align: center;
    /* background-image: url(images/footer1.jpg); */
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.8);
    z-index: 1;
    padding: 10px;
    width: 150px;
}

.nav ul li:hover .sub-menu {
    display: block;
    animation: fadeInUp 0. ease-in-out;
    background-color: rgb(22, 43, 77);

   
}



.sub-menu li {
    margin-top: 10px;
    border-bottom: rgb(247, 242, 242) 0.5px solid;
   
}

.sub-menu li a {
    color: black;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.sub-menu li a:hover {
    color: orangered;
}

.nav ul li input[type="text"] {
    padding: 7px;
    position: absolute;
    border-radius: 10px;
    border: none;
} 
.header{
    text-align: center;
    padding-top: 130px;
}
.nav-bar1{
    width: 750px;
    height: 50px;
    background-color: aliceblue;
    margin-left: 300px;
    margin-top: 20px;
}
.nav-bar1 a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
} 
.header{
    text-align: center;
    padding-top: 130px;
}
.nav-bar1{
    width: 750px;
    height: 50px;
    background-color: aliceblue;
    margin-left: 300px;
    margin-top: 20px;
}
.nav-bar1 a{
    text-decoration: none;
    padding-left: 50px;
    color: black;
    font-size: 20px;
    font-family: sans-serif;
}
.text1 h1{
    text-align: center;
    margin-top: 20px;
    
}
.phones{
    padding-top: 100px;
    margin-left: 50px;
}
.box{
    display: flex;
}
.text2{
    margin-top: 200px;
    margin-left: 40px;
}
.text2 p{
    font-size: 17px;
    font-family: sans-serif;
    padding-top: 10px;
}
.text2 h3{
    font-size: 30px;
}
.box1{
    display: flex;
    margin-top: 100px;
}
.text3{
    margin-left: 50px;
    margin-top: 50px;
}
.text3 p{
    font-family: sans-serif;
    font-size: 17px;
    padding-top: 10px;

}
.text3 h3{
    font-size: 30px;
}
.video{
    margin-left: 100px;
}

.footer{
    background-image: url(/images/backgroundimg.jfif);
    background-size: cover;
    background-position: center;
    height: 350px;
    width: 100%;
    border: black solid 1px;
    margin-top: 150px;
    padding-left: 50px;
    display:flex;
    column-gap: 250px;
    padding-top: 50px;
    color: white;

}
.footer li{
    list-style: none;
    margin-top: 22px;
    font-size: 22px;
}
.footer li a{
    text-decoration: none;
   color: white;

}
.footer li a:hover{
    color: orangered;
}
/* .icons i{
    margin-top: 10px;
padding: 5px;
    
} */
.icons i{
    font-size: 25px;
    margin-left: 20px;
    margin-top: 20px;
    transition: all 0.5s ease;
}
.icons i:hover{
  
 color:skyblue;
 transform: scale(1.1);
}
